<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Shop</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Set a global font for the entire page */
        body {
            font-family: 'Arial', sans-serif;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- Updated this line to be a clickable link to the categories page -->
            <a class="navbar-brand" href="{% url 'show_categories' %}">萬有咖啡館</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <span class="navbar-text">Hello, {{ user.username }}!</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Shopping:Logout' %}">登出</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Shopping:Login' %}">登入</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Main content will be inserted here from child templates -->
        {% endblock %}
    </main>

    <footer>
        <!-- You can add a footer here -->
    </footer>

    <!-- Add any other scripts here -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
